asgiref==3.8.1
cachetools==5.5.2
certifi==2023.11.17
cffi==1.17.1
charset-normalizer==3.4.1
colorama==0.4.6
crispy-bootstrap4==2024.10
cryptography==44.0.1
distlib==0.3.8
dj-database-url==3.0.1
dj-rest-auth==7.0.1
Django==5.1.6
django-allauth==65.4.1
django-autoslug==1.9.9
django-cleanup==9.0.0
django-cors-headers==4.6.0
django-crispy-forms==2.3
django-extensions==3.2.3
django-filter==25.1
django-nested-admin==4.1.1
django-otp==1.5.4
django-phonenumber-field==8.0.0
django-rest-auth==0.9.5
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
filelock==3.13.1
frida==17.6.2
frida-tools==14.5.2
google-auth==2.38.0
googlemaps==4.10.0
gunicorn==26.0.0
idna==3.10
packaging==26.3
pbr==6.0.0
phonenumbers==8.13.55
pillow==10.2.0
platformdirs==4.1.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pygame==2.6.0
Pygments==2.19.2
PyJWT==2.10.1
pyotp==2.9.0
python-decouple==3.8
python-dotenv==1.1.1
python-monkey-business==1.1.0
requests==2.32.3
rsa==4.9
setuptools==69.0.3
six==1.17.0
sqlparse==0.5.3
stevedore==5.1.0
stripe==14.2.0
typing_extensions==4.15.0
urllib3==2.3.0
virtualenv==20.25.0
virtualenv-clone==0.5.7
virtualenvwrapper==6.0.0
virtualenvwrapper-win==1.2.7
wcwidth==0.5.3
websockets==13.1
wheel==0.42.0
